@import 'meyer-reset.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div#content {
  height: 100vh;
  width: 100vw;
  
  background-image: url('../images/bg-pomegranite.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  border: 1px solid white;
  height: 100px;
}

header > #logo {
  max-height: 100px;
}

header .nav-link {
  font-size: 36px;
  color: white;
}
