@import 'meyer-reset.css';

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div#content {
  height: 100vh;
  width: 100vw;
  
  background-image: url('../images/bg-pomegranite.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/*
  HEADER
*/

header {
  height: 10%;
  padding: 10px 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > #logo {
  height: 100%;
  width: auto;
}

.nav-link {
  font-size: 1.75rem;
  color: white;
  margin-left: 100px;

  background: none;
  border: none;
}

.nav-link:not(.active-menu):hover {
  cursor: pointer;
  text-decoration: underline;

  transform: scale(1.05);
  transition: transform 0.05s;
}

.active-menu {
  color: grey;
}

.active-menu:hover {
  cursor: default;
}

/*
  MAIN
*/

main {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 90%;
  width: 60%;
  margin: 0 auto;
}
